/* Colors */

.OertliDarkGrey {
    color: #677070;
    background: #677070;
}

.OertliDark {
    color: #2E3333;
}

.OertliAnthracite {
    background: #141818;
}

.OertliWhite {
    color: white;
}